	body{
	background-color: #FDFFFC;
	}

	.illustration{
	display: inline;
	width: 90%;
	}

	.logo{
	display: inline;
	max-height:60px;
	margin-top: 5px;
	margin-left: 10px;
	}

	.black{
  	color: black;
	}

	.items{
	padding: 10px;
	cursor: pointer;
	margin: 10px 0px 0px 20px;
	}

	.black:hover{
	color: #FDA42C;
	}

	.catchline{
	margin-top: 10%
	}

	.catchline2{
	margin: 5% 5%; 
	}

	.parta{
	padding-bottom: 3%;
	}

	@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

	.main{
	font-family: 'Inter', sans-serif;
	font-weight:700;
	}

	.bold{
	font-family:'Inter', sans-serif;
	font-weight: 600;
	font-size: 3em;
	}

	.bold2{
	font-family:'Inter', sans-serif;
	font-weight: 600
	font-size: 1.5em;
	}

	.regular{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.15em;
	}

	.medium{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1em;
	}

	.parent{
	display: absolute;
	z-index: 1
	}

	.animated{
	display: inline;
	position:relative;
	z-index: -1;
	}

	lottie-player{
	margin-top: -7em;
	}

	.buttona{
	display: inline;
	padding: 8px;
	background-color:#FDA42C;
	border: 1px solid #FDA42C;
	border-radius: 8px;
	}

	.buttona:hover{
	background-color: #001F61;
	border: 1px solid #001F61;
	}

	.buttona a{
	font-family: 'Inter', sans-serif;
	color: white;
	font-size : 2em;
	text-decoration: none;
	}

	.buttona a:hover{
	font-family: 'Inter', sans-serif;
	color: white;
	font-size : 2em;
	text-decoration: none;
	}

	.buttonb{
	display: inline;
	padding: 8px;
	background-color:lightgrey;
	border: 1px solid lightgrey;
	border-radius: 8px;
	}

	.buttonb:hover{
	background-color: #001F61;
	border: 1px solid #001F61;
	}

	.buttonb a{
	font-family: 'Inter', sans-serif;
	color: white;
	font-size : 2em;
	text-decoration: none;
	}

	.buttonb a:hover{
	font-family: 'Inter', sans-serif;
	color: white;
	font-size : 2em;
	text-decoration: none;
	}

	.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  	padding: 14px 80px 18px 36px;
  	cursor: pointer;
}

.card:hover{
  	transform: scale(1.05);
  	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  	position: absolute;
  	top: 20px;
  	right: 15px;
  	max-height: 120px;
}

.card-1{
  	background-image: url("images/what.png");
  	background-repeat: no-repeat;
  	background-position: right;
  	background-size: 80px;
}

.card-2{
   	background-image: url("images/where.png");
   	background-repeat: no-repeat;
   	background-position: right;
   	background-size: 80px;
}

.card-3{
   	background-image: url("images/who.png");
   	background-repeat: no-repeat;
   	background-position: right;
   	background-size: 80px;
}

.card-4{
	background-image: url("images/why.png");
   	background-repeat: no-repeat;
   	background-position: right;
   	background-size: 80px;
}

.card-5{
	background-image: url("images/how.png");
   	background-repeat: no-repeat;
   	background-position: right;
   	background-size: 80px;
}

.card-6{
	background-image: url("images/when.png");
   	background-repeat: no-repeat;
   	background-position: right;
   	background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
  .illustration{
  	display: none
  }
  .illustration2{
  	display: none;
  }
} 

.illustration2{
	width: 90%;
	position: absolute;
	z-index: 0;

	}

.text{
	z-index: 100;
	position: relative;
  	font-weight: bold;
  	margin-left: 23%;
  	padding-top: 13%;
  	}

.medium2{
	display: inline;
	color: #264653;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 0.70em;
	}

.bold3{
	font-family:'Inter', sans-serif;
	font-weight: 600;
	font-size: 2.5em;
	margin-bottom: 20px;
	}

i{
	padding-bottom: 20px;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}